[submodule "ai-cli-session-collector"]
	path = ai-cli-session-collector
	url = git@github.com:vimo-ai/AI-cli-session-collector.git
[submodule "ai-cli-session-db"]
	path = ai-cli-session-db
	url = git@github.com:vimo-ai/ai-cli-session-db.git
[submodule "vlaude"]
	path = vlaude
	url = git@github.com:vimo-ai/vlaude.git
[submodule "ETerm"]
	path = ETerm
	url = git@github.com:vimo-ai/ETerm.git
[submodule "memex"]
	path = memex
	url = git@github.com:vimo-ai/memex.git
[submodule "website"]
	path = website
	url = git@github.com:vimo-ai/vimo-ai.github.io.git
[submodule "mcp-router"]
	path = mcp-router
	url = git@github.com:vimo-ai/mcp-router.git
[submodule "vimo-rust"]
	path = vimo-rust
	url = git@github.com:vimo-ai/vimo-rust.git
[submodule "dev-runner"]
	path = dev-runner
	url = git@github.com:vimo-ai/dev-runner.git
